.food-detail {
  margin-top: 56px;
  padding-bottom: 84px;
  border-bottom: 1px solid $dark-white;
  .title {
    @include text-uppercase(12px, 500);
    line-height: 14.06px;
    color: $text-green;
    margin-bottom: 16px;
    display: block;
  }
  h1 {
    font-size: 36px;
    line-height: 50px;
  }
  .share {
    > span {
      padding-left: 10px;
      font-size: 14px;
    }
  }
  .food-detail-content {
    gap: 60px;
    margin-top: 46px;
    min-height: 598px;
    overflow: hidden;
    .tab-image {
      position: relative;
      @include flex(space-between, unset, 20px);
      .scroll {
        position: absolute;
        left: 4%;
        bottom: 22%;
      }
      .image {
        width: 543px;
        height: 529px;
      }
      .swiper-container {
        height: 65%;
      }
      &-container {
        // @include flex(unset, unset, 15px);
        // flex-direction: column;

        overflow-y: hidden;
        .swiper-slide {
          width: 75px !important;
          height: 75px !important;
          img {
            width: 75px;
            height: 75px;
          }
        }
        > img {
          border-radius: 5px;
          width: 75px;
          height: 75px;
          cursor: pointer;
          transition: all 0.3s ease-in;
          object-fit: cover;
        }
        &:has(img:hover) img:not(:hover) {
          opacity: 0.5;
          filter: blur(4px);
        }
      }
    }
    .content {
      .price {
        @include text(30px, 700);
        line-height: 35.16px;
      }
      .off {
        @include text(22px, 400);
        text-decoration: line-through;
        color: $text-grey;
        line-height: 25.78px;
        padding-left: 16px;
      }
      > p {
        margin-top: 16px;
      }
      ul {
        margin-top: 19px;
        margin-left: 49px;
        max-width: 485px;
        width: 100%;
        > li {
          margin-bottom: 20px;
          margin-left: 10px;
        }
        > li::before {
          content: '';
          background-image: url('../icon/food-deail/markup.svg');
          background-size: contain;
          background-repeat: no-repeat;
          display: inline-block;
          width: 16px;
          height: 19px;
          margin-right: 13px;
          vertical-align: middle;
        }
      }
      a {
        display: block;
        text-align: center;
        text-transform: uppercase;
        padding: 18px 10px 18px 10px;
        font-weight: 500;
        letter-spacing: 0.4em;
      }
      .btn-main {
        color: $black;
        line-height: 23.71px;
        margin-bottom: 22px;
      }
      .call {
        display: block;
        border: 1px solid $text-green;
        color: $text-green;
        letter-spacing: 0.4em;
        transition: all 0.35s ease;
        &:hover {
          background-color: #25232d;
          color: #21c7bb;
        }
      }
      .help {
        @include flex(center, unset, 15px);
        max-width: 386px;
        width: 100%;
        margin-inline: auto;
        margin-top: 23px;
        > span {
          @include text(14px, 400);
          line-height: 20px;
          .contact {
            color: $text-green;
            text-decoration: underline;
          }
        }
      }
    }
    .swiper-slide {
      max-width: 75px;
      width: 100%;
      height: 75px;
    }
  }

  .food-detail-des {
    margin-top: 93px;
    h2 {
      margin-bottom: 11px;
      @include text(24px, 700);
      line-height: 50px;
    }
    p.detail-text {
      @include text(18px, 300);
      line-height: 30px;
      letter-spacing: 0.02em;
      &:nth-child(2) {
        margin-bottom: 29px;
      }
      &:nth-child(3) {
        margin-bottom: 22px;
      }
      &:nth-child(5) {
        margin-bottom: 19px;
      }
      &:nth-child(6) {
        margin-bottom: 60px;
      }
      &:nth-child(8) {
        margin-top: 60px;
        margin-bottom: 19px;
      }
      &:nth-child(9) {
        margin-bottom: 69px;
      }
      &:nth-child(11) {
        margin-top: 60px;
      }
    }
    .img {
      width: 100%;
    }
    ul {
      margin-top: 22px;
      margin-left: 48px;
      padding: 10px;
      margin-bottom: 36px;
      > li {
        font-size: 18px;
        display: flex;
        align-items: center;
        > p {
          padding-left: 11px;
        }
      }
    }
    .des-big-image {
      max-width: 1198px;
      width: 100%;
    }
  }
}

.related-food {
  margin-top: 77px;
  margin-bottom: 122px;
  position: relative;
  h2 {
    @include text-uppercase(30px, 700);
    line-height: 45px;
    letter-spacing: 0.05em;
    margin-bottom: 46px;
  }
  .swiper {
    width: 100%;
    &-slide {
      display: flex;
      flex-direction: column;
      img {
        max-width: 370px;
        width: 100%;
      }
      .title {
        @include text-uppercase(18px, 700);
        line-height: 21.09px;
        letter-spacing: 0.05em;
        margin-top: 29px;
        margin-bottom: 10px;
      }
      p {
        line-height: 26px;
        font-size: 16px;
        margin-bottom: 10px;
      }
      .price {
        @include text(18px, 700);
        line-height: 21.09px;
        letter-spacing: 0.05em;
        .off {
          font-weight: 400;
          color: $text-grey;
          padding-left: 16px;
          text-decoration: line-through;
        }
      }
    }
  }
  .swiper-button-prev {
    top: calc(50% - 30px);
    left: 15px;
    transform: translate(-50%, -50%);
    &::after {
      display: none;
    }
  }

  .swiper-button-next {
    top: calc(50% - 30px);
    right: 15px;
    transform: translate(50%, -50%);
    &::after {
      display: none;
    }
  }
}

@media screen and (max-width: 1220px) {
  .food-detail {
    &-des {
      .img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1098px) {
  .food-detail {
    &-content {
      flex-direction: column;
      .tab-image {
        justify-content: flex-start !important;
        .swiper-container {
          height: 360px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 787px) {
  .food-detail {
    .food-detail-des {
      ul {
        > li {
          img {
            padding-bottom: 31px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 657px) {
  .food-detail {
    &-content {
      .tab-image {
        flex-direction: column;
        .swiper-container {
          height: 75px !important;
        }
        .scroll {
          display: none;
        }
        &-container {
          flex-direction: row !important;
        }
        .image {
          width: 100% !important;
          max-width: 543px !important;
        }
      }
    }
  }
}
