* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

.btn-main {
  background-color: $green;
  font-family: 'Oswald', sans-serif;
  transition: all 0.35s ease;
  @include text-uppercase(16px, 500);
  cursor: pointer;
}
.btn-main:hover {
  background-color: #25232d;
  color: #21c7bb;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding-inline: 15px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  @include text-uppercase(36px, 700);
  line-height: 53.35px;
  margin: 0;
  letter-spacing: 0.05em;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  color: $black;
}
