* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

.btn-main {
  background-color: #019e93;
  font-family: "Oswald", sans-serif;
  transition: all 0.35s ease;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-main:hover {
  background-color: #25232d;
  color: #21c7bb;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding-inline: 15px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 53.35px;
  margin: 0;
  letter-spacing: 0.05em;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  color: #000;
}

.header {
  background: #019e93;
}
.header .container {
  max-width: 1212px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 334px;
  padding-top: 20px;
  padding-bottom: 19px;
}
.header .container .nav {
  padding: 10px;
  display: flex;
  justify-content: unset;
  align-items: center;
  gap: 60px;
}
.header .container .nav .nav-item {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  font-family: "Oswald", sans-serif;
}

.breadcrumb-container {
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  padding-top: 17px;
  padding-bottom: 14px;
}
.breadcrumb-container .breadcrumb {
  max-width: 1200px;
  margin-inline: auto;
  margin-bottom: 0;
}
.breadcrumb-container .breadcrumb li {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.breadcrumb-container .breadcrumb a {
  color: #20c6ba;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (max-width: 1201px) {
  .breadcrumb-container .breadcrumb {
    padding-inline: 15px;
  }
}
.banner {
  width: 100%;
  display: flex;
  position: relative;
}
.banner img {
  width: 50vw;
}
.banner > h1 {
  position: absolute;
  bottom: 31%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #019e93;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  padding: 10px 30px;
  color: #fff;
}

.foods-service {
  margin-top: 88px;
  margin-bottom: 12px;
}
.foods-service > h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 53.35px;
  letter-spacing: 0.05em;
  margin-bottom: 12px;
}
.foods-service > .des {
  max-width: 719px;
  width: 100%;
  margin-inline: auto;
  margin-bottom: 61px;
}
.foods-service .list-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 45px;
  row-gap: 60px;
}
.foods-service .list-item .item {
  cursor: pointer;
}
.foods-service .list-item .item:hover img {
  opacity: 0.6;
  filter: blur(2px);
}
.foods-service .list-item a.item {
  display: none;
}
.foods-service .list-item .item.show {
  display: inline-block;
}
.foods-service .list-item img {
  margin-bottom: 29px;
  transition: all 0.3s;
}
.foods-service .list-item .title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  margin-bottom: 10px;
  color: #000;
}
.foods-service .list-item .description {
  font-size: 16px;
  text-align: start;
  margin-bottom: 10px;
  color: #3b3d42;
}
.foods-service .list-item .price {
  color: #000;
}
.foods-service .list-item .price span {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
}
.foods-service .list-item .price .off {
  text-decoration: line-through;
  color: #afafaf;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  margin-left: 16px;
}
.foods-service .btn-main {
  max-width: 1200px;
  width: 100%;
  margin-top: 58px;
  padding-block: 18px;
  border-width: 0px;
  display: block;
  color: #000;
  letter-spacing: 0.4em;
  line-height: 23.71px;
}
.foods-service .guide {
  margin-top: 85px;
}
.foods-service .guide .title {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 23.44px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 15px;
}
.foods-service .guide .des {
  text-align: start;
  margin-bottom: 15px;
  max-width: 797px;
  width: 100%;
  font-size: 16px;
  line-height: 30px;
}
.foods-service .guide ul {
  margin-bottom: 12px;
  padding-left: 0;
}
.foods-service .guide ul li {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
.foods-service .guide ul .bold {
  font-weight: 600;
}
.foods-service .guide ul li::before {
  content: "";
  background-image: url("../icon/markup.svg");
  background-size: contain;
  display: inline-block;
  width: 13px;
  height: 9px;
  margin-right: 11px;
}

@media screen and (max-width: 1240px) {
  .foods-service .list-item {
    grid-template-columns: repeat(2, 1fr);
  }
  .foods-service .list-item img {
    width: 100%;
  }
}
@media screen and (max-width: 487px) {
  .banner > h1 {
    padding: 5px 15px;
  }
}
@media screen and (max-width: 425px) {
  .banner {
    flex-direction: column;
  }
  .banner img {
    width: 100%;
  }
  .banner > span {
    bottom: 44%;
    padding: 5px 15px;
    width: 180px;
  }
  .foods-service .list-item {
    grid-template-columns: repeat(1, 1fr);
  }
}
.food-detail {
  margin-top: 56px;
  padding-bottom: 84px;
  border-bottom: 1px solid #f0f0f0;
}
.food-detail .title {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 14.06px;
  color: #20c6ba;
  margin-bottom: 16px;
  display: block;
}
.food-detail h1 {
  font-size: 36px;
  line-height: 50px;
}
.food-detail .share > span {
  padding-left: 10px;
  font-size: 14px;
}
.food-detail .food-detail-content {
  gap: 60px;
  margin-top: 46px;
  height: 530px;
}
.food-detail .food-detail-content .tab-image {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: unset;
  gap: 20px;
}
.food-detail .food-detail-content .tab-image .scroll {
  position: absolute;
  left: 4%;
  bottom: 151px;
  z-index: 3;
}
.food-detail .food-detail-content .tab-image .image {
  width: 543px;
  height: 529px;
}
.food-detail .food-detail-content .tab-image .swiper-container {
  overflow: hidden;
  height: 65%;
}
.food-detail .food-detail-content .tab-image-container .swiper-slide {
  width: 75px !important;
  height: 75px !important;
}
.food-detail .food-detail-content .tab-image-container .swiper-slide img {
  width: 75px;
  height: 75px;
}
.food-detail .food-detail-content .tab-image-container > img {
  border-radius: 5px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  object-fit: cover;
}
.food-detail .food-detail-content .tab-image-container:has(img:hover) img:not(:hover) {
  opacity: 0.5;
  filter: blur(4px);
}
.food-detail .food-detail-content .content .price {
  font-size: 30px;
  font-weight: 700;
  line-height: 35.16px;
}
.food-detail .food-detail-content .content .off {
  font-size: 22px;
  font-weight: 400;
  text-decoration: line-through;
  color: #afafaf;
  line-height: 25.78px;
  padding-left: 16px;
}
.food-detail .food-detail-content .content > p {
  margin-top: 16px;
}
.food-detail .food-detail-content .content ul {
  margin-top: 19px;
  margin-left: 49px;
  max-width: 485px;
  width: 100%;
}
.food-detail .food-detail-content .content ul > li {
  margin-bottom: 20px;
  margin-left: 10px;
}
.food-detail .food-detail-content .content ul > li::before {
  content: "";
  background-image: url("../icon/food-deail/markup.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 19px;
  margin-right: 13px;
  vertical-align: middle;
}
.food-detail .food-detail-content .content a {
  display: block;
  text-align: center;
  padding: 18px 10px 18px 10px;
  font-weight: 500;
  letter-spacing: 0.4em;
}
.food-detail .food-detail-content .content .btn-main {
  color: #000;
  line-height: 23.71px;
  margin-bottom: 22px;
}
.food-detail .food-detail-content .content .btn-main:hover {
  color: #20c6ba;
}
.food-detail .food-detail-content .content .call {
  display: block;
  border: 1px solid #20c6ba;
  color: #20c6ba;
  letter-spacing: 0.4em;
  transition: all 0.35s ease;
}
.food-detail .food-detail-content .content .call:hover {
  background-color: #25232d;
  color: #21c7bb;
}
.food-detail .food-detail-content .content .help {
  display: flex;
  justify-content: center;
  align-items: unset;
  gap: 15px;
  max-width: 386px;
  width: 100%;
  margin-inline: auto;
  margin-top: 23px;
}
.food-detail .food-detail-content .content .help > span {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.food-detail .food-detail-content .content .help > span .contact {
  color: #20c6ba;
  text-decoration: underline;
  display: inline;
  letter-spacing: 0;
  padding-left: 0;
}
.food-detail .food-detail-content .swiper-slide {
  max-width: 75px;
  width: 100%;
  height: 75px;
}
.food-detail .food-detail-des {
  margin-top: 93px;
}
.food-detail .food-detail-des h2 {
  margin-bottom: 11px;
  font-size: 24px;
  font-weight: 700;
  line-height: 50px;
}
.food-detail .food-detail-des p.detail-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.02em;
}
.food-detail .food-detail-des p.detail-text:nth-child(2) {
  margin-bottom: 29px;
}
.food-detail .food-detail-des p.detail-text:nth-child(3) {
  margin-bottom: 22px;
}
.food-detail .food-detail-des p.detail-text:nth-child(5) {
  margin-bottom: 19px;
}
.food-detail .food-detail-des p.detail-text:nth-child(6) {
  margin-bottom: 60px;
}
.food-detail .food-detail-des p.detail-text:nth-child(8) {
  margin-top: 60px;
  margin-bottom: 19px;
}
.food-detail .food-detail-des p.detail-text:nth-child(9) {
  margin-bottom: 69px;
}
.food-detail .food-detail-des p.detail-text:nth-child(11) {
  margin-top: 60px;
}
.food-detail .food-detail-des .img {
  width: 100%;
}
.food-detail .food-detail-des ul {
  margin-top: 22px;
  margin-left: 48px;
  padding: 10px;
  margin-bottom: 36px;
  position: relative;
}
.food-detail .food-detail-des ul > li {
  font-size: 18px;
  display: flex;
  align-items: center;
}
.food-detail .food-detail-des ul > li > .text {
  padding-left: 11px;
  position: relative;
}
.food-detail .food-detail-des ul > li > .text::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -20px;
  background-image: url("../icon/food-deail/markup.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
.food-detail .food-detail-des .des-big-image {
  max-width: 1198px;
  width: 100%;
}

.related-food {
  margin-top: 77px;
  margin-bottom: 122px;
  position: relative;
}
.related-food h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 45px;
  letter-spacing: 0.05em;
  margin-bottom: 46px;
}
.related-food .swiper {
  width: 100%;
}
.related-food .swiper-slide {
  display: flex;
  flex-direction: column;
}
.related-food .swiper-slide:hover img {
  opacity: 0.6;
  filter: blur(2px);
}
.related-food .swiper-slide img {
  max-width: 370px;
  width: 100%;
}
.related-food .swiper-slide .title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 21.09px;
  letter-spacing: 0.05em;
  margin-top: 29px;
  margin-bottom: 10px;
}
.related-food .swiper-slide p.text {
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 10px;
}
.related-food .swiper-slide .price {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  letter-spacing: 0.05em;
}
.related-food .swiper-slide .price .off {
  font-weight: 400;
  color: #afafaf;
  padding-left: 16px;
  text-decoration: line-through;
}
.related-food .swiper-button-prev {
  top: calc(50% - 30px);
  left: 15px;
  transform: translate(-50%, -50%);
}
.related-food .swiper-button-prev::after {
  display: none;
}
.related-food .swiper-button-next {
  top: calc(50% - 30px);
  right: 15px;
  transform: translate(50%, -50%);
}
.related-food .swiper-button-next::after {
  display: none;
}

@media screen and (max-width: 1220px) {
  .food-detail-des .img {
    width: 100%;
  }
}
@media screen and (max-width: 1098px) {
  .food-detail-content {
    flex-direction: column;
    height: 100% !important;
  }
  .food-detail-content .tab-image {
    justify-content: flex-start !important;
  }
  .food-detail-content .tab-image .swiper-container {
    height: 360px !important;
  }
}
@media screen and (max-width: 787px) {
  .food-detail .food-detail-des ul > li img {
    padding-bottom: 31px;
  }
}
@media screen and (max-width: 657px) {
  .food-detail-content .tab-image {
    flex-direction: column;
  }
  .food-detail-content .tab-image .swiper-container {
    height: 75px !important;
  }
  .food-detail-content .tab-image .scroll {
    display: none;
  }
  .food-detail-content .tab-image-container {
    flex-direction: row !important;
  }
  .food-detail-content .tab-image .image {
    width: 100% !important;
    max-width: 543px !important;
  }
  .food-detail-content .tab-image-swiper {
    width: 100%;
  }
}
.about-banner {
  width: 100%;
  display: flex;
  position: relative;
}
.about-banner img {
  width: 50vw;
}
.about-banner > h1 {
  position: absolute;
  bottom: 31%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #019e93;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  padding: 10px 30px;
  color: #fff;
}

.overview {
  margin-top: 88px;
}
.overview h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 53.35px;
  letter-spacing: 0.05em;
  position: relative;
}
.overview h2::after {
  content: "";
  width: 118px;
  height: 5px;
  position: absolute;
  background-color: #000;
  top: 62px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overview .title {
  margin-top: 25px;
  max-width: 719px;
  width: 100%;
  margin-inline: auto;
  margin: 25px auto 114px auto;
}
.overview-content {
  display: flex;
  justify-content: space-between;
  gap: 106px;
}
.overview-content-left {
  max-width: 561px;
  width: 100%;
  min-height: 300px;
  text-align: start;
}
.overview-content-left > span {
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  color: #3b3d42;
}
.overview-content-right {
  width: 100%;
  position: relative;
}
.overview-content-right > img {
  border-radius: 50%;
  position: absolute;
}
.overview-content-right > .img1 {
  width: 280px;
  height: 280px;
  position: absolute;
  top: -45px;
  left: 0;
}
.overview-content-right > .img2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 236px;
  height: 237px;
}
.overview .overview-text {
  display: flex;
  justify-content: space-between;
  margin-top: 83px;
}
.overview .overview-text p {
  font-size: 20px;
  line-height: 40px;
}
.overview .overview-text-left {
  position: relative;
  max-width: 461px;
  width: 100%;
  padding-left: 46px;
}
.overview .overview-text-left > p::before {
  content: "";
  position: absolute;
  left: -46px;
  height: 1px;
  width: 90px;
  background-color: #bfbfbf;
  transform: rotate(90deg);
}
.overview .overview-text-right {
  max-width: 535px;
  width: 100%;
  gap: 27px;
  padding-bottom: 13px;
  border-bottom: 1px solid #e2e2e2;
}
.overview .overview-text-right .learn-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overview .overview-text-right .learn-more > a {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #20c6ba;
  line-height: 24px;
  letter-spacing: 0.1em;
}

.culture {
  margin-top: 83px;
  position: relative;
}
.culture .overview-img {
  position: relative;
}
.culture .overview-img .background {
  position: absolute;
  width: 100%;
  height: 123px;
  background-color: #cff4f1;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.culture .img {
  margin-inline: auto;
  position: relative;
  max-width: 1202px;
  width: 100%;
  border-radius: 6px;
}
.culture-container {
  background-color: #cff4f1;
  overflow: hidden;
  padding-top: 92px;
  padding-bottom: 132px;
}
.culture-container h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 50px;
}
.culture-container ul {
  display: flex;
  margin-top: 51px;
  gap: 45px;
}
.culture-container ul > li {
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 15px;
  min-height: 449px;
  max-width: 370px;
  width: 100%;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
}
.culture-container ul > li:hover img {
  opacity: 0.6;
  filter: blur(2px);
}
.culture-container ul > li > a {
  cursor: pointer;
}
.culture-container ul > li a img {
  border-radius: 15px 15px 0 0;
  height: 93%;
  width: 100%;
  display: block;
  object-fit: none;
}
.culture-container ul > li p {
  margin-left: 35px;
  color: #3b3d42;
  padding-right: 10px;
}
.culture-container ul > li > .title {
  margin-top: 27px;
  font-size: 22px;
  font-weight: 600;
  margin-left: 35px;
  margin-bottom: 14px;
  color: #3b3d42;
}
.culture-container ul > li > .des {
  font-size: 18px;
}

.qualifications {
  margin-top: 109px;
  position: relative;
}
.qualifications > h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 50px;
  position: relative;
}
.qualifications > h2::after {
  position: absolute;
  content: "";
  width: 118px;
  height: 5px;
  background-color: #000;
  bottom: -17px;
  left: 0;
}
.qualifications .title {
  display: inline-block;
  font-size: 32px;
  line-height: 50px;
  margin-top: 60px;
  max-width: 569px;
  width: 100%;
}
.qualifications-text {
  margin-top: 101px;
  display: flex;
  justify-content: space-between;
  gap: 194px;
}
.qualifications-text-left {
  max-width: 461px;
  width: 100%;
  padding-left: 96px;
}
.qualifications-text-left > p {
  position: relative;
  font-size: 20px;
  font-weight: 400;
}
.qualifications-text-left > p::before {
  content: "";
  position: absolute;
  width: 90px;
  height: 1px;
  left: -92px;
  top: 0;
  background-color: #bfbfbf;
  transform: rotate(90deg);
}
.qualifications-text-right {
  max-width: 458px;
  width: 100%;
}
.qualifications-text-right > p {
  font-size: 16px;
  font-weight: 400;
}
.qualifications-swiper {
  margin-top: 105px;
  overflow: hidden;
  margin-bottom: 147px;
}
.qualifications-swiper .swiper-slide {
  display: flex;
}
.qualifications-swiper .swiper-slide .content {
  width: 50%;
  background-color: #cff4f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qualifications-swiper .swiper-slide .content > span {
  max-width: 470px;
  width: 100%;
  font-size: 32px;
  font-weight: 400;
  line-height: 50px;
  color: #3b3d42;
}
.qualifications-swiper .swiper-slide img {
  width: 50%;
}
.qualifications-swiper .swiper-button-next {
  top: 80%;
  right: 15px;
  transform: translate(50%, -50%);
}
.qualifications-swiper .swiper-button-next::after {
  display: none;
}
.qualifications-swiper .swiper-button-prev {
  top: 80%;
  left: 15px;
  transform: translate(-50%, -50%);
}
.qualifications-swiper .swiper-button-prev::after {
  display: none;
}

@media screen and (max-width: 1024px) {
  .overview .overview-text {
    flex-direction: column;
    align-items: flex-start;
  }
  .overview .overview-text-left {
    max-width: 100%;
  }
  .overview .overview-text-right {
    max-width: 100%;
  }
  .qualifications-swiper .swiper-button-next {
    top: 85%;
  }
  .qualifications-swiper .swiper-button-prev {
    top: 85%;
  }
}
@media screen and (max-width: 768px) {
  .overview-content {
    flex-direction: column-reverse;
    gap: 250px;
  }
  .overview-content-right {
    max-width: 100%;
  }
  .overview-content-right .img1 {
    max-width: 100%;
  }
  .overview-content-right .img2 {
    display: none;
  }
  .culture-container ul {
    flex-direction: column;
    align-items: center;
  }
  .culture-container ul > li a img {
    height: 200px;
  }
  .qualifications-text {
    flex-direction: column;
    gap: 50px;
  }
  .qualifications-swiper .swiper-button-next {
    display: none;
  }
  .qualifications-swiper .swiper-button-prev {
    display: none;
  }
  .qualifications-swiper .swiper-slide {
    flex-direction: column;
  }
  .qualifications-swiper .swiper-slide .content {
    width: 100%;
  }
  .qualifications-swiper .swiper-slide .content > span {
    padding: 14px 10px;
  }
  .qualifications-swiper .swiper-slide img {
    width: 100%;
  }
}
@media screen and (max-width: 470px) {
  .about-banner > h1 {
    text-align: center;
    padding: 5px 15px;
  }
}
@media screen and (max-width: 425px) {
  .about-banner {
    flex-direction: column;
  }
  .about-banner img {
    width: 100%;
  }
  .about-banner > span {
    bottom: 44%;
    padding: 5px 15px;
    width: 180px;
  }
}
@media screen and (max-width: 321px) {
  .overview h2::after {
    top: 116px;
  }
}
.group-image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 400px 400px;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}
.group-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.group-image .item {
  position: relative;
}
.group-image .item .overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  width: 100%;
  text-align: center;
  height: 0;
  transition: 0.5s ease;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
}
.group-image .item .overlay-box .title {
  font-size: 36px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  line-height: 1.47em;
  margin-bottom: 13px;
}
.group-image .item .overlay-box .location {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5em;
  margin-bottom: 41px;
}
.group-image .item .overlay-box .price {
  font-size: 30px;
  font-weight: 500;
  color: #21c7bb;
  line-height: 1.5em;
  display: flex;
  gap: 0.4em;
  flex-direction: row-reverse;
}
.group-image .item .overlay-box .price p {
  font-size: 30px;
}
.group-image .item .overlay-box .price .off {
  text-decoration: line-through;
  font-size: 24px;
  color: #fff;
}
.group-image .item:hover .overlay-box {
  height: 100%;
}
.group-image .item:nth-child(1) {
  grid-row: span 2/auto;
  grid-column: span 2/auto;
}
.group-image .item:nth-child(2) {
  grid-column: span 2/auto;
}
@media screen and (max-width: 1024px) {
  .group-image {
    grid-template-rows: 240px 240px;
  }
}
@media screen and (max-width: 767px) {
  .group-image {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 340px 340px 340px 340px;
  }
  .group-image .item:nth-child(1) {
    grid-column: span 1/auto;
    grid-row: span 1/auto;
  }
  .group-image .item:nth-child(2) {
    grid-column: span 1/auto;
  }
  .group-image .item:nth-child(3) {
    grid-column: span 1/auto;
  }
  .group-image .item:nth-child(4) {
    grid-column: span 1/auto;
  }
}
@media screen and (max-width: 425px) {
  .group-image {
    grid-template-rows: 240px 240px 240px 240px;
  }
}

/*# sourceMappingURL=style.css.map */
